node_modules
npm-debug.log
vendor
.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
.editorconfig
.vscode
.idea
*.md
!README.md
tests
phpunit.xml
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

